.qr-label {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: -2rem;
  color: #0400ff;
  letter-spacing: 0.05em;
  font-family: 'Fira Mono', 'Consolas', 'Menlo', 'Monaco', 'Liberation Mono', monospace;
}

.d-flex.align-items-center {
  gap: 0.2rem;
}
 