<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Add links to Bootstrap CSS and JavaScript files -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Bootstrap Navbar with Tabs -->
<nav class="navbar navbar-expand navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Moving Checklist</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-row gap-2">
      <li class="nav-item">
        <a class="nav-link" [class.active]="tab === 'list'" href="#" (click)="setTab('list'); $event.preventDefault()">Item List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="tab === 'checkpoint'" href="#" (click)="setTab('checkpoint'); $event.preventDefault()">Checkpoint</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main Content: Show tab content -->
<div *ngIf="tab === 'edit'">
  <app-edit-item
    [item]="selectedItem"
    [existingItemTags]="[]"
    [existingChecklistTags]="[]"
    (itemCreated)="onItemCreated($event)"
    (cancelled)="onCancelEdit()"
  ></app-edit-item>
</div>
<div *ngIf="tab === 'list'">
  <app-item-list
    [items]="items"
    (editItem)="onEditItem($event)"
    (scanQr)="onScanQr()"
  ></app-item-list>
</div>
<div *ngIf="tab === 'checkpoint'">
  <app-checkpoint [items]="items" [allTags]="[]"></app-checkpoint>
</div>

</body>
</html>